//main.scss - the mother of our sass
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/*html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 600;
}*/


/*brukt kodeeksempler fra forelesning*/
#root{
    --border: 2px solid #e1e1e1;
    --lightblue: #25dfe6;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #b4b4b4;
    --lightgray: #f5f5f5;
    --darkgray: #707070;
    --maxwidth: 1200px;
    --rootsize: 20px;
}

body {
    font-size: var(--rootsize);
    font-family: Arial;
    color: var(--darkgray);
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 15%;
    padding-right: 15%;
}

div.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.header {
    border: var(--border);
    margin: 1rem 0;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-size: 15px;
}
.header a{
    text-decoration: none;
    color: var(--textC);
}

#nav{
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
}

#nav span{
    padding: .5rem 1rem;
    margin-right: .5rem;
    display: inline-block;
    border: var(--border);
    background-color: var(--lightGray);
}

#nav span.active {
    background-color: var(--lightblue);
    border-color: var(--lightblue);
    color: white;
}

#textCont {
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
    border-top: 6px solid var(--lightblue);
    padding: 0 1rem;
}
.article h2 {
    text-transform: uppercase;
}

#links a:link {
    color: var(--lightblue);
    text-decoration: none;
    
  }

h1 a:link {
    text-decoration: none;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: auto;
    border-style: groove;
    border-color: gray;
    border-width: 1px;
}

#links {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
    
}

#links span {
    border-style: ridge;
    margin-right: 1rem;
    padding: 2rem;
    
}

.homeicon {
    width: 2rem;
}


.textCont {
    background-color: var(--white);

}
